
// cancel button
#cgc-grading-modal .comment-cancel,
#cgc-exercise-submission-modal .comment-cancel{
	position:absolute;
	bottom:14px;
	background:#d7d7d7;
	top: auto;
	right: auto;
	text-shadow: none;
	color: #333;
	font-size: inherit;
	line-height: 1;
	&:hover {
		background:darken(#d7d7d7,2);
	}
	&:active {
		background:#d7d7d7;
	}
}