// image meta area
.cgc-edu-exercise-submission--meta {
	@include column(3);
	position:relative;
	padding:0;

	div {
		background:$black;
		border-bottom:10px solid lighten($base,4);
		padding:$padding;
	}

}

// image wrap
.cgc-edu-exercise-submission--image-wrap {
	position:relative;
	@include column(9);

	.cgc-meta {
		width:100%;
		position:relative;
		z-index:0;
	}
}

// image container
.cgc-edu-exercise-submission--image {
	min-height:500px;
	position:relative;
	margin-bottom:$padding;

	div {
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:100%;
		background-size:cover;
		background-position:center center;
		background-repeat:no-repeat;
		z-index:-1;

	}
}

// critera
.cgc-edu-list.cgc-edu-exercise-critera {
	border-bottom:none;

	strong {
		display:block;
		margin-bottom:$padding;
		font-size:16px;
	}
}