// body level
.single-exercise .post-video {
	margin:0;
}

// mast header
.cgc-edu-mast {
	margin-bottom:$padding;
}

// general layout
.cgc-edu-tabs--exercise {
	@include column(8);
	padding-left:0;
}

// sidebar
.cgc-edu-sidebar--exercise {
	@include column(4);
	top:40px; // even with top of tab
	margin-bottom:$padding;

	.cgc-edu-sidebar--block {
		background:$black;
		padding:$padding;
		margin-bottom:$padding;
	}
}

// actiom blogk
.cgc-edu-sidebar--block__actions {
	ul {
		list-style:none;
		padding:0;
		margin:0;
		line-height:1;
		text-align:center;

		li {
			margin-bottom:10px;

			&:last-child {
				margin-bottom:0;
			}
		}

		a {
			width:75%;
			margin:0 auto;
			padding:14px 12px;
			color:white;
			background:lighten($base,10);
			border-radius:5px;
			display:block;
			position:relative;
		}

		i {
			font-size:28px;
			margin-right:5px;
			position:absolute;
			left:8px;
			top:7px;
		}
	}
}

// author block
.cgc-edu-sidebar--block__author {
	text-align:center;

	img {
		border-radius:100%;
	}
}

// share block
.cgc-edu-sidebar--block__share {
	ul {
		list-style:none;
		padding:0;
		margin:0;
		line-height:1;
		text-align:center;

		li {
			display:inline-block;
			a,i{
				display:block;
			}

			i {
				font-size:32px;
				margin-bottom:6px;
			}
			a {
				font-size:12px;
				color:inherit;
				padding:4px 8px;
			}
		}
	}
}