// exercise files tab
#submissions {
	.cgc-edu-submissions {
		list-style:none;
		@include clearfix();
		position: relative;
		margin: 0 -6px 0 0;

		li {
			background:$exercise-half-gray;
			margin-bottom:5px;
			position:relative;
			float:left;
			width:32.333%;
			height:10vh;
			margin-right:1%;

			a {
				padding:15px;
				display:block;
				color:inherit;

				span {
					display:block;
					padding:6px 12px;
					text-align:center;
					font-size:12px;
					line-height:1.4;
					color:$black;
				}
			}

			&.passed {

				@include make-network-color('background');

			}

			&.failed,
			&.open {
				background:#333;
				color:#eaeaea;
			}

			&.failed {

			}
			&.open {

			}

			&:hover {
				background:darken($exercise-half-gray,2);
				cursor:pointer;
			}
		}
	}
}