// exercise files tab
#files {
	.cgc-edu-downloadables {
		list-style:none;

		li {
			background:$exercise-half-gray;
			margin-bottom:5px;
			position:relative;
			@include transition(background .15s ease);

			a {
				padding:12px 15px 16px;
				display:block;
				color:inherit;
			}

			span {
				display:block;
				font-size:12px;
				font-style:italic;
				line-height:1;
			}

			&:after {
				content:'\f0ed';
				font-family:FontAwesome;
				font-size:18px;
				color:$black;
				background:#eaeaea;
				height:32px;
				width:32px;
				position:absolute;
				right:17px;
				top:17px;
				padding:5px;
				text-align:center;
				border-radius:2px;
			}

			&:hover {
				background:darken($exercise-half-gray,2);
				cursor:pointer;

				&:after {
					@include make-network-color('background');
				}
			}

			&:active {
				@include box-shadow(inset 0 1px 1px 1px rgba(0,0,0,0.4));

				&:after {
					@include box-shadow(inset 0 1px 1px rgba(0,0,0,0.2));
				}
			}

		}
	}
}