// body level
.single-exercise .post-video {
	margin:0;
}

// mast header
.cgc-edu-mast {
	margin-bottom:$padding;

	.post-video, .post-featured-image {margin:0;}
}

// general layout
.cgc-edu-tabs--exercise {
	@include column(8);
	padding-left:0;
}

// block title
.cgc-edu-block-title {
	position:relative;
	padding-left:45px;

	.cgc-block-icon {
		top:7px;
	}
}

// sidebar
.cgc-edu-sidebar--exercise {
	@include column(4);
	top:40px; // even with top of tab
	margin-bottom:$padding;

	.cgc-edu-sidebar--block {
		background:$black;
		padding:$padding;
		margin-bottom:$padding;
	}
}

// actiom blogk
.cgc-edu-sidebar--block__actions {
	ul {
		list-style:none;
		padding:0;
		margin:0;
		line-height:1;
		text-align:center;

		li {
			margin-bottom:10px;

			&:last-child {
				margin-bottom:0;
			}
		}

		a {
			width:75%;
			margin:0 auto;
			padding:14px 12px;
			color:white;
			background:$exercise-gray;
			border-radius:5px;
			display:block;
			position:relative;

		}

		i {
			font-size:28px;
			margin-right:5px;
			position:absolute;
			left:10px;
			top:7px;

			&.icon-cloud-download {
				margin-right:10px;
			}
		}
	}

	.cgc-edu-submit-exercise {
		i {
			left:12px;
		}
	}
	.cgc-edu-vid-dl a{
		padding-left:36px;

	}
}

// author block
.cgc-edu-sidebar--block__author {
	text-align:center;

	img {
		border-radius:100%;
		max-width:75px;
	}

	.cgc-author-block--bio {
		line-height:1.4;
		font-size:100%;
	}

	.cgc-author-block--more {
		background:darken($exercise-gray,5);
		border-radius:2px;
		padding:4px 8px;
		color:$exercise-off-white;
		display:block;
		margin:0 40px 10px;

		&:hover {
			background:$exercise-gray;
		}

		&:active {
			background:darken($exercise-gray,5);
			@include box-shadow(inset 0 1px 1px rgba(0,0,0,0.5));
		}
	}
}

// share block
.cgc-edu-sidebar--block__share {
	ul {
		list-style:none;
		padding:0;
		margin:0;
		line-height:1;
		text-align:center;

		li {
			display:inline-block;

			a {
				font-size:12px;
				color:inherit;
				padding:4px 8px;
				display:block;

				&:before {
					font-family:FontAwesome;
					font-size:32px;
					display:block;
					margin-bottom:5px;
				}

				&:hover {
					@include make-network-color('color');
				}
			}

			&.cgc-fb-share-link a:before {
				content:'\f082';
			}
			&.cgc-twitter-share-link a:before {
				content:'\f081';
			}
			&.cgc-pinterest-share-link a:before {
				content:'\f0d3';
			}
		}
	}
}






















