// main layout
.cgc-edu-main {
	@include outerRow();
	position:relative;

	&.cgc-edu-exercise-submission--header {
		margin-bottom:$padding;
	}
}

// meta
.cgc-edu-meta {
	background:$black;
	padding:$padding;
}

// bg filler used to provide a 100% background height without usin gjs
.cgc-edu-bg-filler {
	position: absolute;
	top:0;
	left:0;
	width:25%;
	height:100%;
	background:$black;
	z-index:-1;
	padding:0 15px;
}