#cgc-grading-modal {

	// modal text
	p {
		text-align:left;
		margin-bottom:10px;

		&:nth-child(3) {
			font-weight:bold;
		}
	}

	// form shell
	#commentform {
		@include clearfix();
	}

	// submit button
	.form-submit {
		width:48%;
		float:left;
		text-align:right;
		margin-bottom:0;
	}

	// comment area
	#comment {
		min-height:150px;
	}

	// close button overrides
}

// exercise submission modal
#cgc-exercise-submission-modal {
	// submit button

	p{
		text-align:left;
		margin-bottom:10px;
	}

	.form-bottom {
		text-align:center;
		p {
			text-align:center;
			font-size:14px;
			line-height:18px;
			margin:10px auto 5px;
		}
	}
	input[type="submit"],
	.comment-cancel {
		position:static;
		display:inline-block;
	}
	// comment area
	textarea {
		min-height:150px;
	}

	label {
		font-weight:bold;
	}

	 // upload button
    .file-upload {
        height: 25px;
        background:#d7d7d7;
		border-radius: 2px;
		display: block;
		padding: 2px 4px;
		width: 127px;
		text-align: center;
		height: auto;
		height: 29px;
		color:$black;
		margin-bottom:5px;

        i {
           	color:$black;
        }

        span {
            font-size:86%;
            color:white;
        }

        input[type="file"] {
            @include opacity(0);
            z-index: -1;
        }

        &:hover {
            cursor: pointer;
            @include make-network-color('background');
        }
    }
}

.success a {
	color: inherit;
	text-decoration:underline;
}