#cgc-grading-modal {

	// modal text
	p {
		text-align:left;
		margin-bottom:10px;

		&:nth-child(3) {
			font-weight:bold;
		}
	}

	// form shell
	#commentform {
		@include clearfix();
	}

	// submit button
	.form-submit {
		width:48%;
		float:left;
		text-align:right;
		margin-bottom:0;
	}

	// comment area
	#comment {
		min-height:150px;
	}

	// close button overrides
}