
.tab-hide {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

// main container
#cgc-edu-tabs {
	margin:0;
	padding:10px;
	background:$black;
	@include clearfix();
}

// content area
#cgc-edu-tabs .tab-content {

}

// the nav
#cgc-edu-tabs .tab-nav {
	overflow: hidden;
	margin: -10px -10px 10px;
	background:lighten($black, 4%);
	li {
		display:inline-block;
		margin: 0 10px 0 0;

		&.last {
			margin-right: 0;
		}

		a {
			display: block;
			padding: 5px 10px;
			font-size: 10px;
			text-align: center;
			border: 0;

			&.current {
				background:$black;
			}

			&:hover {

			}
		}

		ul { list-style: none; }
	}
}