
.tab-hide {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

// main container
#cgc-edu-tabs {
	margin:0;
	padding:$padding;
	background:$black;
	@include clearfix();
}

// content area
#cgc-edu-tabs .tab-content {
	h3 {
		line-height:1;
		margin-bottom:10px;
	}
}

// the nav
#cgc-edu-tabs .tab-nav {
	overflow: hidden;
	margin: -10px -10px 10px;
	background:lighten($black, 4%);
	li {
		display:inline-block;
		margin: 0 $padding 0 0;

		&.last {
			margin-right: 0;
		}

		a {
			display: block;
			padding: 8px 14px;
			//font-size: 12px;
			text-align: center;
			border: 0;
			color:inherit;
			font-weight:bold;

			&.current {
				background:$black;
			}

			&:hover {

			}
		}

		ul { list-style: none; }
	}
}